<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hola.dao.dougest.CityDao">


    <select id="findCitys" parameterType="int" resultType="com.hola.entity.dougest.City">
        select * from city where ID=#{id}
    </select>


</mapper>