<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hola.dao.dougest.UserDao">

    <select id="findUserByUser" parameterType="com.hola.entity.dougest.User" resultType="com.hola.entity.dougest.User">
        select
            *
        from
            `user`
        where
            user_name = #{userName}
        and
            user_pwd = #{userPwd}
    </select>

    <update id="updateUser" parameterType="com.hola.entity.dougest.User" >
        update
          `user`
        <set>
            user_name = #{userName},
            user_pwd = #{userPwd}
        </set>
        WHERE
            user_id = #{userId}
    </update>
        
    <insert id="insertUser" parameterType="com.hola.entity.dougest.User">

        INSERT INTO
           `user`
                (user_id,user_name,user_pwd)
            VALUES
                (#{userId},#{userName},#{userPwd})
    </insert>

    <insert id="addMore" parameterType="com.hola.entity.dougest.User">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO
              `user`
                    (user_id,user_name,user_pwd)
                VALUES
                    (#{item.userId},#{item.userName},#{item.userPwd})
        </foreach>
    </insert>

    <delete id="deleteUser" parameterType="com.hola.entity.dougest.User">
        delete
          from
            `user`
        where
            user_id = #{user_id}
    </delete>

    <select id="findUserByUserName" parameterType="string" resultType="com.hola.entity.dougest.User">
        select
            *
        from
            `user`
        where
            user_name = #{userName}


    </select>


</mapper>